.profile-card {
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    
  }
  
  .profile-card img.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .profile-info h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .profile-info p {
    margin: 5px 0;
  }
  
  .profile-card.light {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .profile-card.dark {
    background-color: #333;
    color: #f0f0f0;
  }